{% extends "base.html" %}

{% block content %}

<h1>Blogz | {{title}}</h1>

{% if posts|length == 0 %}

    <p>No posts created yet.</p>

{% else %}

    {% for post in posts %}

        <h2><a href="/blog?id={{post.id}}">{{post.title}}</a></h2>
        <p>{{post.body[:250]}} ...<a href="/blog?id={{post.id}}">(read more)</a></p>
        <p class="author">Written by <a href="/blog?user={{post.owner.username}}">{{post.owner.username}}</a></p>

    {% endfor %}

{% endif %}

<div class="pagination">

{% if prev_url %}

    <a href="{{ prev_url }}">&lt;&lt; Previous Page</a>
    
{% endif %}
{% if next_url %}

    <a href="{{ next_url }}">Next Page &gt;&gt;</a>

{% endif %}

</div>

{% endblock %}
