{% extends "base.html" %}

{% block content %}

<h1>Blogz | {{title}}</h1>

<form action="/signup" method="post">
    <label for="username">
        <p>Username:</p>
        <input type="text" id="username" name="username" value="{{username}}" />
    </label>
    <p class="error">{{error_u}}</p>
    <label for="password">
        <p>Password:</p>
        <input type="password" id="password" name="password" />
    </label>
    <p class="error">{{error_p}}</p>
    <label for="verify">
        <p>Verify Password:</p>
        <input type="password" id="verify" name="verify" />
    </label>
    <p class="error">{{error_v}}</p>
    <input type="submit" value="Submit" />
</form>

{% endblock %}